@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgba(52, 148, 100, 0.61);
  /* background: linear-gradient(0deg, rgba(125, 193, 194, 0.969) 0%, rgba(115, 214, 140, 0.936) 100%);  */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh
} 