@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,0.9691943127962085) 0%, rgba(253,187,45,0.9360189573459716) 100%); 
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%
} */